body
{	
	background-image:url("../Images/bgnew.jpg");
	height:1050px;
	width:100%;
	background-position:center ;
	background-repeat:no-repeat;
	background-size:cover;
}

h2
{
	font-size:35px;
	color:81AF2A;
	font-family: 'Lobster', cursive;
	text-align: center; 
	margin-top: 6px;
}

.dropdown 
{
  float: left;
  overflow: hidden;
  background-color:#EC4D37;
}

.dropdown .dropbtn 
{
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 5px 25px;
  margin-top:20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown:hover .dropbtn 
{
  background-color: green;
  color:white;
}

.dropdown-content 
{
  display: none;
  position: absolute;
  background-color: greeen;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a 
{
  float: none;
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover 
{
  background-color: 6AAF1D;
}

.dropdown:hover .dropdown-content 
{
  display: block;
  background-color:green;
}

*
{
  box-sizing: border-box;
}
p
{
	font-size:20px;
}

a:visited{
	color:blue;
}

	
h1.topic{
	font-size : 45px;
	float: left;
	margin-top:-53px;
	margin-left:370px;
	color:white;
	font-family: 'Lobster', cursive;
}


ul.Home 
{

    display: inline-block;
    list-style-type: none;
	font-weight:bold;
	margin:0;
	padding:0px; 
	background-color: 982631;
	overflow:hidden;
	float:left;
	margin-left: 90px;
	border-right:3px solid transparent;
}

ul.sign
{

    display: inline-block;
	width: 98%;
    list-style-type: none;
	font-weight:bold;
	margin-right:10px;
	margin-top: 10px;
	background-color:white;
	overflow:hidden;
	float: left;
	margin-left:10px;
	
}

li.Home
{
	float:left;
	width: 178px;
}


li.sign
{
	
	float:right;
	width: 90px;
}



.Home a
{
		
		display:block;
		color:white;
		text-align:center;
		padding:15px 35px;
		text-decoration:none;
		text-align:center;
		outline-style:solid;
}

.Home a:hover {
	background-color:E87057;
	color:white;
}



.sign a
{
		
		display:block;
		background-color:982631;
		color:white;
		padding:5px 10px; 
		text-decoration:none;
		text-align:center;
		outline-style:solid;
		border-left:solid;
		border-width:5px;
}
.sign a:hover {
	background-color:E87057;
	color:white;
}
.active{
	background-color: green;
	color: white;
}

.regUser a:hover {
	background-color:green;
	color:white;
}


*{
  box-sizing: border-box;
}

form.searchbar1 input[type=text] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  float: center;
  width: 32%;
  background: #f1f1f1;
}

form.searchbar1 button {
  float:none;
  width: 9%;
  padding:  10px;
  background: green;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.searchbar1 :hover {
  background: #0b7dda;
}


form.searchbar1 ::after {
  content: "";
  clear: both;
  display: table;
}

form.searchbar2 input[type=text] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  float: center;
  width: 32%;
  background: #f1f1f1;
}

form.searchbar2 button {
  float: center;
  width: 9%;
  padding:  10px;
  background: green;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.searchbar2 :hover {
  background: #0b7dda;
}


form.searchbar2 ::after {
  content: "";
  clear: both;
  display: table;
}

.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.point{
	cursor: pointer;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

#footer{
    display: block;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 30px;
    background-color:982631;
}

#innerFooter{
    grid-column: 1/-1;
}

#copyRigth{
    grid-column: 1/-1;
    display: block;
}

#footer #innerFooter{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: auto;
    grid-gap: 3px;
    padding: 50px;
    height: 100%;
}

#footer #innerFooter h1{
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20px;
    padding: 5px;
}

#footer #innerFooter li{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    padding: 1px 5px;
}
#footer #innerFooter li a{
    color: white;
	margin-top: 0px
}

#footer #innerFooter i{
    color: white;
    padding:1px 5px;
	margin-top: 0px;
}

#footer #innerFooter #Child3 .socialMediaLinks{
    display: block
    padding: 5px 0px;
}

#footer #innerFooter #Child3 .socialMediaLinks ul{
    display: flex;
	float:right;
	margin-right:40px;
}

#footer #innerFooter #Child3 .socialMediaLinks ul li{
    font-size: 30px;
}

#footer #innerFooter #footerLogo #Title{
    display: flex;
    padding: 5px 10px 5px 10px;
}

#footer #innerFooter #footerLogo #Title h1{
    display: block;
    color: white;
    font-size: 25px;
	font-weight:bold; 
    font-family: 'Rock Salt', cursive;
}

#footer #innerFooter #footerLogo #Title p{
    display: block;
    color: white;
    font-size: 15px;
    font-family: 'Rock Salt', cursive;
    margin: 20px 10px 25px 10px;
}

#footer #copyRigth{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px;
}


